/* TABLETS */

@media screen and (max-width: 768px) {
  h2,
  h1,
  p {
    font-family: 'Lato', sans-serif;
  }

  .header-mobile {
    display: none;
  }

  .men-watches {
    background-color: #f8f9fa;
  }

  .watch {
    display: flex;
    height: 300px;
    margin: 0 auto;
  }

  .watch-cell {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .price-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin:auto;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .watch img {
    margin: 0 auto;
  }

  .about-watch h1 {
    color: rgba(199, 43, 67, 0.8995973389355743);
    font-size: 20px;
  }

  .about-watch p {
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
  }

  .by {
    margin-top: 2rem;
  }

  .watch:before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053";
    position: absolute;
    bottom: 300px;
    color: rgba(199, 43, 67, 0.8995973389355743);
  }

  .watch::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    position: absolute;
    right: 60px;
    bottom: 300px;
    color: rgba(199, 43, 67, 0.8995973389355743);
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin: auto;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
  }

  footer h2 {
    margin-bottom: 2rem;
  }

  .navbar-wrapper h2 {
    color: #f8f9fa !important;
    font-weight: bold;
    padding-left: 2rem;
  }

  .navbar-wrapper ul {
    display: flex;
    font-family: 'myFont', sans-serif;
  }

  .navbar-wrapper ul li {
    padding: 0 1.5rem;
    color: #888;
  }

  .navigation a {
    text-decoration: none;
  }

  .ad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 12px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
    color: white;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
  }

  .search {
    display: none;
  }
  
  .catalogue-wrapper {
    display: flex;
    flex-direction: column;
  }

  .watch-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }

  .catalogue-wrapper-women {
    display: flex;
    flex-direction: column;
  }

  #select-watch {
    margin-right: 0.2rem;
    height: 2rem;
    width: 5rem;
    font-family: 'Lato', sans-serif;
  }

  .placeholder {
    margin-right: 1rem;
    height: 1.7rem;
    width: 9rem;
    font-family: 'Lato', sans-serif;
  }

  #button {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
    border-radius: 4px;
  }

  .watch img {
    height: 200px;
    width: 200px;
  }
   
  .watch img::before {
    content: "\f0a9";
  }

  button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
    border-radius: 50%;
    height: 50px;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .catalogue-wrapper-hot {
    display: flex;
  }

  .catalogue {
    text-align: center;
    width: auto;
  }

  .catalogue h2 {
    font-size: 16px;
  }
  
  .hot-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 3px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
  }

  .hot-ads h2 {
    color: white;
  }

  .watch {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  footer {
    margin-left: 2rem;
  }

  .about {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: 'Catamaran', sans-serif;
  }

  .about p {
    font-family: 'Catamaran', sans-serif;
    margin: 0 5rem;
  }

  .categories {
    margin-top: 2rem;
  }

  .categories h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .categories hr {
    width: 76%;
  }

  .categories ul {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 5rem;
    line-height: 2rem;
  }

  .categories a {
    text-decoration: none;
    color: #d35266;
  }

  .copyright {
    font-size: 15px;
    margin-left: 3rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2rem;
  }

  .social-icon-link {
    margin: 0 1rem;
    text-decoration: none;
  }

  .social a {
    text-decoration: none;
    color: red;
  }

  .watch img {
    max-width: 100%;
  }

  .men-header {
    margin-top: 5.2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    font-size: 1.3rem;
    color: #969696;
    background-color: #f8f9fa;
  }
}

/* Mobile Phones */

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }

  .men-watches {
    background-color: #f8f9fa;
  }

  .header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
    height: 1.5rem;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  #select-watch {
    width: 91%;
  }

  .hot-ads p {
    text-align: right;
  }

  .watch {
    font-size: 12px;
  }

  #swipe {
    font-size: 12px;
  }

  #search {
    text-decoration: none;
    color: #f8f9fa;
  }

  #button {
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    font-family: 'Lato', sans-serif;
    background-color: #383838;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }

}

/* Big Screens */

@media (min-width: 769px) {
  h2,
  p {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  .men-watches {
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .watch {
    display: flex;
    height: 300px;
    margin: 0 20rem;
  }
  
  .watch:before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053";
    position: absolute;
    bottom: -100px;
    color: rgba(199, 43, 67, 0.8995973389355743);
  }

  .watch::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    position: absolute;
    right: 400px;
    bottom: -100px;
    color: rgba(199, 43, 67, 0.8995973389355743);
  }

  .about-watch {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-self:center;
    width: 400px;
  }

  .about-watch h1 {
    color: rgba(199, 43, 67, 0.8995973389355743);
    text-align: left;
  }

  .about-watch p {
    margin-top: 10px;
    text-align: left;
  }

  .input {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
  }

  .by {
    margin-top: 2rem;
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
  }

  .price-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right:1rem;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  #search {
    text-decoration: none;
    color: #f8f9fa;
  }

  .ad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 12px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
    color: white;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
  }

  .header-mobile {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
  }

  footer h2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #212529;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }

  .navbar-wrapper h2 {
    color: #f8f9fa !important;
    font-weight: bold;
    padding-left: 2rem;
  }

  .navbar-wrapper ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
  }

  .navbar-wrapper ul li {
    padding: 0 1.5rem;
    color: #888;
  }
  
  .navigation a {
    text-decoration: none; 
  }
  
  .search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: auto;
    font-size: 2.2rem;
    font-weight: lighter;
    color: #fff;
    background: linear-gradient(180deg, rgba(211, 82, 102, 1) 0%, rgba(199, 43, 67, 0.8995973389355743) 20%, rgba(211, 82, 102, 0.3617822128851541) 101%), url(./Assets/Images/watch-background.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .search h2 {
    margin-top: 5.2rem;
  }

  #select-watch {
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
  }

  #placeholder {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
    border-style: none;
  }

  #button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
    border-radius: 4px;
  }

  button {
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.4rem;
    width: 6rem;
    background-color: #383838;
    border: 0;
    border-radius: 50%;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hot-ads {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20rem;
    font-size: 3px;
    height: 30px;
    width: 90px;
    color: #d35266;
  }

  .catalogue-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". . . .";
    margin: 0 180px;
    padding: 1rem;
  }

  .catalogue-wrapper-women {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". . . .";
    margin: 0 180px;
    padding: 1rem;
  }

  .catalogue-wrapper::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053";
    position: absolute;
    left: 4rem;
    bottom: -30rem;
    color: rgba(199, 43, 67, 0.8995973389355743);
  }

  .catalogue-wrapper::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    position: absolute;
    color: rgba(199, 43, 67, 0.8995973389355743);
    right: 4rem;
    bottom: -30rem;
  }

  .catalogue-wrapper-women::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053";
    position: absolute;
    color: rgba(199, 43, 67, 0.8995973389355743);
    left: 4rem;
    bottom: -70rem;
  }

  .catalogue-wrapper-women::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    position: absolute;
    color: rgba(199, 43, 67, 0.8995973389355743);
    right: 4rem;
    bottom: -70rem;
  }

  .watch-cell {
    width: 300px;
    height: 490px;
    background-color: white;
    border: 1px solid #ddd;
  }

  .watch-cell p {
    text-align: left;
    margin-left: 1rem;
  }

  .watch-cell h2 {
    text-align: left;
    margin-left: 1rem;
  }

  .catalogue {
    text-align: center;
    width: auto;
  }

  .catalogue h2 {
    font-size: 16px;
  }

  .catalogue-wrapper-hot {
    font-family: 'Lato', sans-serif;
    color: #888;
    font-weight: bold;
  }

  .men-header {
    padding-top: 1.5rem;
    margin-left: 12rem;
    display: flex;
    height: 3rem;
    font-size: 1.3rem;
    color: #969696;
    background-color: #f8f9fa;
  }

  .about {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: 'Catamaran', sans-serif;
  }

  .about p {
    font-family: 'Catamaran', sans-serif;
    margin: 0 5rem;
  }

  .categories {
    margin-top: 2rem;
  }

  .categories h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .categories hr {
    width: 76%;
  }

  .categories ul {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 5rem;
    line-height: 2rem;
  }

  .categories a {
    text-decoration: none;
    color: #d35266;
  }

  .copyright {
    font-size: 15px;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2rem;
  }

  .social-icon-link {
    margin: 0 1rem;
    text-decoration: none;
  }

  .social a {
    text-decoration: none;
    color: red;
  }
}
