/* TABLETS */

@media screen and (max-width: 768px) {
  h2,
  p {
    font-family: 'Lato', sans-serif;
}
  .header-mobile {
  display: none;
  }
  .navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  background-color: #383838;
  padding: 1.2rem;
  }
  .navbar-wrapper h2 {
  color: #f8f9fa !important;
  font-weight: bold;
  padding-left: 2rem;
  }
  .navbar-wrapper ul {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #888;
  }
  .navbar-wrapper ul li {
  padding: 0 1.5rem;
  }
  .search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: auto;
  height: 14rem;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #fff;
  background: linear-gradient( 180deg, rgba(211, 82, 102, 1) 0%, rgba(199, 43, 67, 0.8995973389355743) 20%, rgba(211, 82, 102, 0.3617822128851541) 101%), url(./Assets/Images/watch-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  .search h2 {
  margin-top: 20px;
  }
  .input {
  margin-top: 90px;
  }
  .input a {
  text-decoration: none;
  }
  #select-watch {
  height: 2rem;
  width: 5rem;
  font-family: 'Lato', sans-serif;
  }
  #placeholder {
  height: 1.7rem;
  width: 9rem;
  font-family: 'Lato', sans-serif;
  }
  #search {
  text-decoration: none;
  color: #f8f9fa;
  }
  button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #f8f9fa;
  padding: 0.3rem;
  width: 6rem;
  background-color: #383838;
  border: none;
  border-radius: 4px;
  }
  hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(0, 0, 0, .1);
  }
  .catalogue {
  text-align: center;
  width: auto;
  }
  .catalogue h2 {
  font-size: 16px;
  }
  .hot-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  font-size: 3px;
  height: 30px;
  width: 90px;
  background-color: #d35266;
  }
  .hot-ads h2 {
  color: white;
  }
  .catalogue-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #888;
  font-weight: bold;
  }
  .watch {
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  .about {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  }
  .about p {
  font-family: 'Catamaran', sans-serif;
  margin: 0 5rem;
  }
  .categories {
  margin-top: 2rem;
  }
  .categories h2 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  }
  .categories hr {
  width: 76%;
  }
  .categories ul {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  margin-left: 5rem;
  line-height: 2rem;
  }
  .categories a {
  text-decoration: none;
  color: #d35266;
  }
  .copyright {
  font-size: 15px;
  margin-left: 3rem;
  }
  .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-right: 2rem;
  }
  .social-icon-link {
  margin: 0 1rem;
  text-decoration: none;
  }
  .social a {
  text-decoration: none;
  color: red;
  }
  .watch img {
  max-width: 100%;
  }
  .men-header {
  margin-top: 5.2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  font-size: 1.3rem;
  color: #969696;
  background-color: #f8f9fa;
  }
}


/* Mobile Phones */

@media screen and (max-width: 600px) {
	.header {
		display: none;
	}
	.header-mobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: auto;
		background-color: #383838;
		padding: 1.2rem;
		height: 1.5rem;
	}
	.search {
		width: auto;
	}
	.hot-ads p {
		text-align: right;
	}
	.watch {
		font-size: 12px;
	}
	#swipe {
		font-size: 12px;
	}
	#search {
		text-decoration: none;
		color: #f8f9fa;
	}
}


/*Big Screens*/

@media (min-width: 769px) {
	h2,
	p {
		font-family: 'Lato', sans-serif;
		text-align: center;
	}
	#search {
		text-decoration: none;
		color: #f8f9fa;
	}
	.header-mobile {
		display: none;
	}
	.navbar-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: auto;
		background-color: #383838;
		padding: 1.2rem;
	}
	footer h2 {
		text-align: left;
		font-size: 1.5rem;
		font-weight: bold;
		color: #212529;
		margin-bottom: 1rem;
		margin-left: 5rem;
	}
	.navbar-wrapper h2 {
		color: #f8f9fa !important;
		font-weight: bold;
		padding-left: 2rem;
	}
	.navbar-wrapper ul {
		display: flex;
		font-family: 'Roboto', sans-serif;
		color: #888;
	}
	.navbar-wrapper ul li {
		padding: 0 1.5rem;
	}
	.search {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem;
		width: auto;
		font-size: 2.2rem;
		font-weight: lighter;
		color: #fff;
		background: linear-gradient(180deg, rgba(211, 82, 102, 1) 0%, rgba(199, 43, 67, 0.8995973389355743) 20%, rgba(211, 82, 102, 0.3617822128851541) 101%), url(./Assets/Images/watch-background.jpg);
		height: 60vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.search h2 {
		margin-top: 5.2rem;
	}
	#select-watch {
		height: 2.4rem;
		width: 10rem;
		border-radius: 4px;
	}
	#placeholder {
		height: 2.4rem;
		width: 10rem;
		border-radius: 4px;
		border-style: none;
	}
	button {
		margin-top: 60px;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		color: #f8f9fa;
		padding: 0.4rem;
		width: 6rem;
		background-color: #383838;
		border: 0;
		border-radius: 4px;
	}
	hr {
		margin-top: 2rem;
		margin-bottom: 2rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
	}
	.hot-ads {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 1.2rem;
		font-size: 3px;
		height: 30px;
		width: 90px;
		background-color: #d35266;
	}
	.catalogue {
		text-align: center;
		width: auto;
	}
	.catalogue h2 {
		font-size: 16px;
	}
	.catalogue-wrapper {
		font-family: 'Lato', sans-serif;
		color: #888;
		font-weight: bold;
	}
	.men-header {
		margin-top: 5.2rem;
		margin-bottom: 3rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 3rem;
		font-size: 1.3rem;
		color: #969696;
		background-color: #f8f9fa;
	}
	.about {
		display: flex;
		flex-direction: row;
		text-align: justify;
		font-family: 'Catamaran', sans-serif;
	}
	.about p {
		font-family: 'Catamaran', sans-serif;
		margin: 0 5rem;
	}
	.categories {
		margin-top: 2rem;
	}
	.categories h2 {
		font-family: 'Lato', sans-serif;
		font-weight: lighter;
	}
	.categories hr {
		width: 76%;
	}
	.categories ul {
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		margin-left: 5rem;
		line-height: 2rem;
	}
	.categories a {
		text-decoration: none;
		color: #d35266;
	}
	.copyright {
		font-size: 15px;
		margin-left: 3rem;
		margin-bottom: 2rem;
	}
	.social {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-content: center;
		margin-right: 2rem;
	}
	.social-icon-link {
		margin: 0 1rem;
		text-decoration: none;
	}
	.social a {
		text-decoration: none;
		color: red;
	}
	.watch img {
		max-width: 100%;
	}
}