/* TABLETS */

@media screen and (max-width: 768px) {
  h2,
  h1,
  p {
    font-family: 'Lato', sans-serif;
  }

  .header-mobile {
    display: none;
  }

  .men-watches {
    background-color: #f8f9fa;
  }

  .watch {
    display: flex;
    height: 300px;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .watch-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }

  .price-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin: auto;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .watch img {
    margin: 0 auto;
    max-width: 100%;
    height: 200px;
    width: 200px;
  }

  .about-watch h1 {
    color: rgba(199, 43, 67, 0.8995973389355743);
    font-size: 20px;
  }

  .about-watch p {
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
  }

  .by {
    margin-top: 2rem;
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin: auto;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
  }

  footer h2 {
    margin-bottom: 2rem;
  }

  .navbar-wrapper h2 {
    color: #f8f9fa !important;
    font-weight: bold;
    padding-left: 2rem;
  }

  .navbar-wrapper ul {
    display: flex;
    font-family: 'myFont', sans-serif;
  }

  .navbar-wrapper ul li {
    padding: 0 1.5rem;
    color: #888;
  }

  .navigation a {
    text-decoration: none;
  }

  .ad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 12px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
    color: white;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
  }

  .search {
    display: none;
  }

  .catalogue-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .catalogue-wrapper-women {
    display: flex;
    flex-direction: column;
  }

  #select-watch {
    margin-right: 0.2rem;
    height: 2rem;
    width: 5rem;
    font-family: 'Lato', sans-serif;
  }

  .placeholder {
    margin-right: 1rem;
    height: 1.7rem;
    width: 9rem;
    font-family: 'Lato', sans-serif;
  }

  #button {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
    border-radius: 4px;
  }

  button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .catalogue-wrapper-hot {
    display: flex;
  }

  .catalogue {
    text-align: center;
    width: auto;
  }

  .catalogue h2 {
    font-size: 16px;
  }

  .hot-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 3px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
  }

  .hot-ads h2 {
    color: white;
  }

  footer {
    margin-left: 2rem;
  }

  .about {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: 'Catamaran', sans-serif;
  }

  .about p {
    font-family: 'Catamaran', sans-serif;
    margin: 0 5rem;
  }

  .categories {
    margin-top: 2rem;
  }

  .categories h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .categories hr {
    width: 76%;
  }

  .categories ul {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 5rem;
    line-height: 2rem;
  }

  .categories a {
    text-decoration: none;
    color: #d35266;
  }

  .copyright {
    font-size: 15px;
    margin-left: 3rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2rem;
  }

  .social-icon-link {
    margin: 0 1rem;
    text-decoration: none;
  }

  .social a {
    text-decoration: none;
    color: red;
  }

  .men-header {
    margin-top: 5.2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    font-size: 1.3rem;
    color: #969696;
    background-color: #f8f9fa;
  }

  .small-border {
    height: 2px;
    background-color: #d35266;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.3;
    margin-top: 1rem;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    margin: 0 1rem;
  }

  .search-header {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .men-watch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 2rem;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .price-search {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .watch-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
    width: 100%;
  }

  .about-watch {
    margin: 1rem;
  }
}

/* Mobile Phones */

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }

  .men-watches {
    background-color: #f8f9fa;
  }

  .header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
    height: 1.5rem;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  #select-watch {
    width: 91%;
  }

  .hot-ads p {
    text-align: right;
  }

  .watch {
    font-size: 12px;
  }

  #swipe {
    font-size: 12px;
  }

  #search {
    text-decoration: none;
    color: #f8f9fa;
  }

  #button {
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    font-family: 'Lato', sans-serif;
    background-color: #383838;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }
}

/* Big Screens */

@media (min-width: 769px) {
  * {
    box-sizing: border-box;
  }

  h2,
  p {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  .men-watches {
    background-color: #f8f9fa;
    text-align: center;
  }

  .watch {
    display: flex;
    height: 300px;
    margin: 0 auto;
  }

  .catalogue-wrapper-hot {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #888;
    overflow: hidden;
    font-weight: bold;
    margin: auto;
  }

  .about-watch {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-self: center;
    width: 400px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1.2em;
    flex-grow: 1;
  }

  .about-watch h1 {
    color: rgba(199, 43, 67, 0.8995973389355743);
    text-align: left;
  }

  .about-watch p {
    margin-top: 10px;
    text-align: left;
  }

  .input {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
  }

  .by {
    margin-top: 2rem;
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
  }

  .price-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 1rem;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  #search {
    text-decoration: none;
    color: #f8f9fa;
  }

  .ad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    font-size: 12px;
    height: 30px;
    width: 90px;
    background-color: #d35266;
    color: white;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
  }

  .header-mobile {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #383838;
    padding: 1.2rem;
  }

  footer h2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #212529;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }

  .navbar-wrapper h2 {
    color: #f8f9fa !important;
    font-weight: bold;
    padding-left: 2rem;
  }

  .navbar-wrapper ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
  }

  .navbar-wrapper ul li {
    padding: 0 1.5rem;
    color: #888;
  }

  .navigation a {
    text-decoration: none;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: auto;
    font-size: 2.2rem;
    font-weight: lighter;
    color: #fff;
    background: linear-gradient(180deg, rgba(211, 82, 102, 1) 0%, rgba(199, 43, 67, 0.8995973389355743) 20%, rgba(211, 82, 102, 0.3617822128851541) 101%), url(./Assets/Images/watch-background.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .search h2 {
    margin-top: 5.2rem;
  }

  #select-watch {
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
  }

  #placeholder {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
    border-style: none;
  }

  #button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.3rem;
    width: 6rem;
    background-color: #383838;
    border: none;
    border-radius: 4px;
  }

  button {
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f8f9fa;
    padding: 0.4rem;
    width: 6rem;
    background-color: #383838;
    border: 0;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hot-ads {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20rem;
    font-size: 3px;
    height: 30px;
    width: 90px;
    color: #d35266;
  }

  .catalogue-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . .";
    margin: 0 180px;
    padding: 1rem;
    overflow: hidden;
  }

  .catalogue-wrapper-women {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . .";
    margin: 0 180px;
    padding: 1rem;
    overflow: hidden;
  }

  .watch-cell {
    width: 300px;
    height: 490px;
    background-color: white;
    border: 1px solid #ddd;
  }

  .watch-cell p {
    text-align: left;
    margin-left: 1rem;
  }

  .watch-cell h2 {
    text-align: left;
    margin-left: 1rem;
  }

  .catalogue {
    text-align: center;
    width: auto;
  }

  .catalogue h2 {
    font-size: 16px;
  }

  .men-header {
    padding-top: 1.5rem;
    margin-left: 12rem;
    display: flex;
    height: 3rem;
    font-size: 1.3rem;
    color: #969696;
    background-color: #f8f9fa;
  }

  .about {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: 'Catamaran', sans-serif;
  }

  .about p {
    font-family: 'Catamaran', sans-serif;
    margin: 0 5rem;
  }

  .categories {
    margin-top: 2rem;
    font-size: 20px;
  }

  .categories h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .categories hr {
    width: 76%;
  }

  .categories ul {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 5rem;
    line-height: 2rem;
  }

  .categories a {
    text-decoration: none;
    color: #d35266;
  }

  .copyright {
    font-size: 15px;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2rem;
  }

  .social-icon-link {
    margin: 0 1rem;
    text-decoration: none;
  }

  .social a {
    text-decoration: none;
    color: red;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 1rem;
  }

  .border-small {
    height: 2px;
    background-color: #d35266;
    width: 90%;
    margin-bottom: 10px;
    opacity: 0.3;
  }

  .type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 3rem;
  }

  .small-border {
    height: 2px;
    background-color: #d35266;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.3;
  }

  .filter {
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;
  }

  .search-header {
    margin-bottom: 3rem;
  }

  .search-header p {
    margin-bottom: 1rem;
  }

  .men-watch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .men-watch h2 {
    height: 20px;
  }

  .men-watch p {
    font-size: 16px;
  }

  .men-watch img {
    height: 300px;
    width: 300px;
  }

  .price-search {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100px;
    margin-top: 60px;
    background-color: rgba(199, 43, 67, 0.8995973389355743);
    border-radius: 4px;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .watch-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
  }
}
